.radio__list {
  display: flex;
}

.radio__element {
  position: relative;
  display: flex;
  align-items: center;
}

.radio__element:first-of-type {
  margin-right: 20px;
}

.radio__title {
  margin-bottom: 16px;
}

.radio__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.radio__label {
  padding-left: 30px;
  cursor: pointer;
  color: $dark-color-50;
}

.radio__label::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid $dark-color-25;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
  transition: border 0.1s linear;
}

.radio__label::after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: $gradient-purple;
  border-radius: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  z-index: 2;
  transition: opacity 0.1s linear;
}

.radio__input:checked + .radio__label {
  color: $dark-color-75;
}

.radio__input:checked + .radio__label::before {
  border-color: $purple-color;
}

.radio__input:checked + .radio__label:after {
  opacity: 1;
}
