@import '~normalize.css'; /* импорт из NodeJs c ~ */
@import 'montserrat.css';
@import 'variables.scss';
@import '../pug/components/colorItem/colorItem.scss';
@import '../pug/components/fontItem/fontItem.scss';
@import '../pug/components/selectItem/selectItem.scss';
@import '../pug/components/button/button.scss';
@import '../pug/components/roundButton/roundButton.scss';
@import '../pug/components/icon/icon.scss';
@import '../pug/components/roomInfo/roomInfo.scss';
@import '../pug/components/infoItem/infoItem.scss';
@import '../pug/components/review/review.scss';
@import '../pug/components/rules/rules.scss';
@import '../pug/components/checkbox/checkbox.scss';
@import '../pug/components/radio/radio.scss';
@import '../pug/components/airDatepicker/datepicker.scss';
@import '../pug/components/fontawesome/css/all.min.css';
@import '../pug/components/fontawesome/css/fontawesome.scss';
@import '../pug/components/copyright/copyright.scss';
@import '../pug/components/header/header.scss';
@import '../pug/components/footer/footer.scss';
@import '../pug/components/rangePriceSlider/rangePriceSlider.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-color-75;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.container_backgroung-grey {
  background-color: $grey-color;
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
}

.colors-fonts {
  display: flex;
  justify-content: space-between;
  padding: 145px 158px 145px 150px;
  max-width: 1440px;
  min-width: 320px;
}

.form-elements {
  padding: 140px 141px 131px 141px;
  max-width: 1440px;
  min-width: 320px;
}

.text-field-default {
  max-width: 320px;
  margin-bottom: 20px;
}

.text-field-default_subscription {
  max-width: 267px;
}

.subscription-input {
  position: relative;
  display: flex;
  align-items: center;
}

.subscription-input__icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.text-field-default__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.text-field-default__label_margin {
  margin-bottom: 20.4px;
}

.input {
  max-width: 320px;
  width: 100%;
  line-height: 18px;
  background: #ffffff;
  border: 1px solid $dark-color-25;

  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  color: $dark-color-25;
  outline: none;
}

.input_date-color-dark {
  color: $dark-color-75;
}

.input::-webkit-input-placeholder {
  color: $dark-color-25;
}

.input::-moz-placeholder {
  color: $dark-color-25;
}

.font-item__example-value_opacity {
  color: $dark-color-50;
}

.input:focus,
.input:hover,
.input_focus {
  color: $dark-color-75;
  border: 1px solid $dark-color-50;
}

.text-field-dropdown {
  max-width: 266px;
  margin-bottom: 20px;
}

.text-field-dropdown_wide {
  max-width: 320px;
  margin-top: 170px;
}

.reviews {
}

.checkbox-toggle {
}

.like-buttons {
  display: flex;
}

.like-buttons > .like:first-of-type {
  margin-right: 10px;
}

.stars {
  display: flex;
}

.stars > .star-part:first-of-type {
  margin-right: 20px;
}

.headers-footers {
  padding-top: 140px;
  padding-bottom: 140px;
}

.headers-footers__header {
  margin-bottom: 40px;
}

.headers-footers__footer {
  margin-bottom: 40px;
}

.example-invisible {
  display: none;
}

.ui-kit__price-slider {
  margin-bottom: 40.5px;
}
