@import '~normalize.css'; /* импорт из NodeJs c ~ */
@import 'montserrat.css';
@import 'variables.scss';
@import '../pug/components/colorItem/colorItem.scss';
@import '../pug/components/fontItem/fontItem.scss';
@import '../pug/components/selectItem/selectItem.scss';
@import '../pug/components/input/input.scss';
@import '../pug/components/button/button.scss';
@import '../pug/components/pagination/pagination.scss';
@import '../pug/components/icon/icon.scss';
@import '../pug/components/roomInfo/roomInfo.scss';
@import '../pug/components/review/review.scss';
@import '../pug/components/rules/rules.scss';
@import '../pug/components/checkbox/checkbox.scss';
@import '../pug/components/toggleButton/toggleButton.scss';
@import '../pug/components/likeButton/likeButton.scss';
@import '../pug/components/radio/radio.scss';
@import '../pug/components/airDatepicker/datepicker.scss';
@import '../pug/components/fontawesome/css/all.min.css';
@import '../pug/components/fontawesome/css/fontawesome.scss';
@import '../pug/components/copyright/copyright.scss';
@import '../pug/components/header/header.scss';
@import '../pug/components/footer/footer.scss';
@import '../pug/components/rangePriceSlider/rangePriceSlider.scss';
@import '../pug/components/uiKitLogo/uiKitLogo.scss';
@import '../pug/components/cardFindRoom/cardFindRoom.scss';
@import '../pug/components/cardRegistration/cardRegistration.scss';
@import '../pug/components/cardEntrence/cardEntrence.scss';
@import '../pug/components/cardRoomReservation/cardRoomReservation.scss';
@import '../pug/components/cardRoom/cardRoom.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $dark-color-75;
}

.ui-kit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 150px auto;
}
.ui-kit__title {
  margin-bottom: 50px;
}
.ui-kit__links {
  display: flex;
  flex-direction: column;
}
.ui-kit__link {
  text-decoration: none;
  margin-bottom: 10px;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.container_backgroung-grey {
  background-color: $grey-color;
}

.colors-fonts {
  display: flex;
  justify-content: space-between;
  padding: 145px 158px 145px 150px;
  max-width: 1440px;
  min-width: 320px;
}

.form-elements {
  padding: 140px 141px 131px 141px;
  max-width: 1440px;
  min-width: 320px;
}

.form-elments__part1,
.form-elments__part2,
.form-elments__part3 {
  display: flex;
  justify-content: space-between;
}

.form-elments__part1,
.form-elments__part2 {
  margin-bottom: 100px;
}

.input-field {
  width: 320px;

  .input-field__default {
    margin-bottom: 20.4px;
  }

  .input-field__focus {
    margin-bottom: 20px;
  }

  .input-field__dropdown-guest {
    margin-bottom: 22.6px;
  }

  .input-field__masked {
    margin-bottom: 40px;
  }

  .input-field__datepicker-calendar {
    margin-bottom: 40.5px;
  }

  .input-field__filter-date {
    margin-bottom: 40.6px;
  }

  .input-field__subscription {
    margin-bottom: 0;
  }
}

.form-field__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.form-field_width-320 {
  max-width: 320px;
}

.form-field_width-266 {
  max-width: 266px;
}

.datepicker-calendar {
  display: flex;
  justify-content: space-between;
}

.datepicker-calendar__element {
  max-width: 150px;
}

.dropdown-input {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdown-input__icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.subscription-input {
  position: relative;
  display: flex;
  align-items: center;
}

.subscription-input__icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.checkbox-radio-field {
  width: 320px;
}

.checkbox-radio-field__checkbox {
  margin-bottom: 40.9px;
}

.checkbox-radio-field__radio {
  margin-bottom: 36.6px;
}

.checkbox-radio-field__toggle {
  margin-bottom: 40.4px;
}

.checkbox-radio-field__like-buttons {
  margin-bottom: 40px;
}

.checkbox-radio-field__toggle-item {
  margin-bottom: 10px;
}

.button-field {
  width: 320px;
}

.button-field__price-slider {
  margin-bottom: 40.5px;
}

.button-field__buttons {
  margin-bottom: 40px;
}

.buttons__title {
  margin-bottom: 16px;
}

.buttons__position {
  margin-right: 20px;
  margin-bottom: 30px;
}

.dropdown-list__part1,
.dropdown-list__part2,
.dropdown-list__part3,
.form-elments__room-info {
  width: 320px;
}

.like-buttons {
  .like-buttons__title {
    margin-bottom: 16px;
  }

  .like-buttons__wrapper {
    display: flex;
  }

  .like-buttons__wrapper > .like:first-of-type {
    margin-right: 10px;
  }
}

.rate {
  .rate__title {
    margin-bottom: 16px;
  }

  .rate__wrapper {
    display: inline-block;
    line-height: 0;
  }

  .rate__wrapper:nth-of-type(2) {
    margin-right: 20px;
  }
}

.form-elments__reviews {
  margin-top: 33px;
}

.dropdown-list__dropdown-expanded {
  margin-bottom: 173px;
}
.dropdown-list__part2 .dropdown-list__dropdown-expanded,
.dropdown-list__part3 .dropdown-list__dropdown-expanded {
  margin-bottom: 257px;
}
.dropdown-list__dropdown-default {
  margin-bottom: 20px;
}

.headers-footers {
  padding-top: 140px;
  padding-bottom: 140px;
}

.headers-footers__header {
  margin-bottom: 40px;
}

.headers-footers__footer {
  margin-bottom: 40px;
}

.example-invisible {
  display: none;
}

.cards {
  padding: 150px 140px 140px 140px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

.cards__element {
  margin-bottom: 40px;
  width: 380px;
}

.cards__block1,
.cards__block2,
.cards__block3 {
  display: flex;
  flex-direction: column;
}

.cards__block1,
.cards__block2 {
  margin-right: 40px;
}

.cards__block3 {
  margin-top: 411px;
}
