.checkbox {
  max-width: 266px;
  width: 100%;
}

.checkbox__element {
  margin-bottom: 10px;
  padding-left: 35px;
}

.checkbox__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.checkbox__title_default {
  margin-bottom: 16.6px;
}

.checkbox__title_expanded {
  margin-bottom: 17.4px;
}

.checkbox__title_rich {
  margin-bottom: 16px;
}

.checkbox__input,
.toggle-button__input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__label {
  cursor: pointer;
  position: relative;
}

.checkbox__default-text {
  color: $dark-color-50;
  line-height: 18px;
}

.checkbox__text {
  font-weight: bold;
}

.checkbox__description {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: $dark-color-50;
}

.checkbox__label::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border: 1px solid $dark-color-25;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: -35px;
  z-index: 1;
}

.checkbox__element_rich .checkbox__label::before {
  top: 2px;
}

.checkbox__input:checked + .checkbox__label::before {
  border-color: $purple-color;
}

.checkbox__input:checked + .checkbox__label .checkbox__arrow {
  opacity: 1;
}

.checkbox__element_rich .checkbox__arrow {
  top: 6.5px;
}

.checkbox__arrow {
  width: 6px;
  height: 8px;
  top: 4.5px;
  left: -28px;
  background: $gradient-purple;
  transform: rotate(45deg);
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.checkbox__arrow::before {
  content: '';
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 5px;
  height: 7px;
  background-color: $white-color;
}
