extends ../layout/main
include ../components/colorItem/colorItem
include ../components/fontItem/fontItem
include ../components/selectItem/selectItem

block variables
  - var title = 'UI kit';

block content
  .container
    .logo
      svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill="#1F2041" fill-opacity="0.25")
        path(d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill="#1F2041" fill-opacity="0.25")
        path(d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25")
    section.colors-fonts
      .colors
        +colorItem('Dark Shade 100%', '#1F2041', 'dark-100')
        +colorItem('Dark Shade 75%', '#1F2041', 'dark-75')
        +colorItem('Dark Shade 50%', '#1F2041', 'dark-50')
        +colorItem('Dark Shade 25%', '#1F2041', 'dark-25')
        +colorItem('Dark Shade 5%', '#1F2041', 'dark-5')
        +colorItem('Purple', '#BC9CFF', 'purple')
        +colorItem('Green', '#6FCF97', 'green')
      .fonts-size
        +fontItem('H1', 'This one is the sub-section or widget title', 'h1')
        +fontItem('H2', 'Next one is the item title inside widgets', 'h2')
        +fontItem('H3', 'This is a label or CTA text', 'h3')
        +fontItem('Body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'narrow')

  .container
    .logo
      svg(width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M23.9989 32.4712C23.2224 32.4712 22.5871 31.8359 22.5871 31.0594C22.5871 25.6241 18.14 21.177 12.7047 21.177C11.9283 21.177 11.293 20.5418 11.293 19.7653C11.293 18.9888 11.9283 18.3535 12.7047 18.3535C19.7283 18.3535 25.4106 24.0359 25.4106 31.0594C25.4106 31.8359 24.7753 32.4712 23.9989 32.4712Z" fill="#1F2041" fill-opacity="0.25")
        path(d="M36.7068 19.7653C36.7068 20.5418 36.0715 21.177 35.295 21.177C31.9421 21.177 28.9421 22.8712 27.1774 25.4476C26.7892 24.4594 26.3303 23.5418 25.7656 22.6947C28.095 20.0123 31.5186 18.3535 35.295 18.3535C36.0715 18.3535 36.7068 18.9888 36.7068 19.7653Z" fill="#1F2041" fill-opacity="0.25")
        path(d="M24 48C10.7647 48 0 37.2353 0 24C0 10.7647 10.7647 0 24 0C37.2353 0 48 10.7647 48 24C48 37.2353 37.2353 48 24 48ZM24 2.82353C12.3176 2.82353 2.82353 12.3176 2.82353 24C2.82353 35.6824 12.3176 45.1765 24 45.1765C35.6824 45.1765 45.1765 35.6824 45.1765 24C45.1765 12.3176 35.6824 2.82353 24 2.82353Z" fill="#1F2041" fill-opacity="0.25")
    section.form-elements
      form(action="#")
        .text-field-default
          label(for="default" class="text-field-default__label font-item__example-value_h3")
            span.font-item__example-value Text Field
            span.font-item__example-value_opacity Default
          input(type="text" id="default" placeholder="Email" class="input")
        .text-field-default
          label(for="hoverFocus" class="text-field-default__label font-item__example-value_h3")
            span.font-item__example-value Text Field
            span.font-item__example-value_opacity Hover / Focus
          input(type="text" id="hoverFocus" placeholder="Email" class="input input_focus")
          //- dropdown customization
        .text-field-dropdown
          label(for="defaultSelect" class="text-field-default__label font-item__example-value_h3")
            span.font-item__example-value Dropdown
            span.font-item__example-value_opacity Default
          div(id="defaultSelect" class="select-default")
            .select__header-default
              span.select__current-default 2 спальни, 2 кровати, 0 ванные комнаты
              .select__icon.material-icons expand_more
        .text-field-dropdown
          label(for="roomSelect" class="text-field-default__label font-item__example-value_h3")
            span.font-item__example-value Dropdown
            span.font-item__example-value_opacity expanded
          div(id="roomSelect" class="select is-active")
            .select__header
              span.select__current
              .select__icon.material-icons expand_more
            .select__body
              +selectItem({title: 'спальни', count: '2', option: 'bedroom', datatype: 'rooms'})
              +selectItem({title: 'кровати', count: '2', option: 'bed', datatype: 'rooms'})
              +selectItem({title: 'ванные комнаты', count: '0', option: 'bathroom', datatype: 'rooms'})
              .select__actions.font-item__example-value_h3
                .select__clear очистить
                .select__apply применить
        .text-field-dropdown.text-field-dropdown_wide
          label(for="guestSelect" class="text-field-default__label font-item__example-value_h3")
            span.font-item__example-value Dropdown
            span.font-item__example-value_opacity expanded
          div(id="guestSelect" class="select")
            .select__header
              span.select__current
              .select__icon.material-icons expand_more
            .select__body
              +selectItem({title: 'взрослые', count: '2', option: 'adult', datatype: 'guests'})
              +selectItem({title: 'дети', count: '0', option: 'child', datatype: 'guests'})
              +selectItem({title: 'младенцы', count: '0', option: 'infant', datatype: 'guests'})
              .select__actions.font-item__example-value_h3
                .select__clear очистить
                .select__apply применить


    section.buttons
      .button
        span.button__text.font-item__example-value_h3 click me

      .button.button_opacity
        span.button__text.font-item__example-value_h3 click me

      .button.button_border-gradient
        span.button__text.button__text_purple.font-item__example-value_h3 click me

      .button.button_border-gradient.button_opacity
        span.button__text.button__text_purple.font-item__example-value_h3 click me

      .button.button_only-text
        span.button__text.button__text_purple.font-item__example-value_h3 click me
      
      .button.button_only-text
        span.button__text.button__text-dark.font-item__example-value_h3 click me

      .button.button-wide
        span.button__text.font-item__example-value_h3 перейти к оплате
        span.icon.button__icon.icon_white.material-icons arrow_forward

      .round-button.round-button_purple
        span.icon.icon_white.font-item__example-value_h3 1
      .round-button.round-button_green
        span.icon.icon_white.material-icons arrow_forward

      .room-info
        .info-item.room-info__item
          span.icon.icon_purple-gradient.icon_big.info-item__icon.material-icons insert_emoticon
          .info-item__text
            .info-item__title Комфорт
            .info-item__description Шумопоглощающие стены
        .info-item.room-info__item
          span.icon.icon_purple-gradient.icon_big.info-item__icon.material-icons location_city
          .info-item__text
            .info-item__title Удобство
            .info-item__description Окно в каждой из спален

    .reviews
      .review
        .review__person
          .review__photo
          .review__info
            .review__name Мурад Сарафанов
            .review__date 5 дней назад
        .review__text-wrapper
          .review__like.review__like_position.like.like_border-gradient
            .review__heart-icon.icon.icon_purple.material-icons favorite
            .review__heart-count 12
          .review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
      
    .rules
      .rules__title.font-item__example-value_h3 bullet list
      ul.rules__list
        li.rules__item Нельзя с питомцами
        li.rules__item Без вечеринок и мероприятий
        li.rules__item Время прибытия — после 13:00, а&nbspвыезд до 12:00

    .availability
      .checkbox-title
        .font-item__example-value_h3 rich Checkbox Buttons
      .checkbox
        input(class="checkbox__input" type="checkbox", id="availability_width")
        label(class="checkbox__label" for="availability_width")
          .checkbox-arrow
          .checkbox__title Широкий коридор
          .checkbox__description Ширина коридоров в номере не менее 91 см.
      .checkbox
        input(class="checkbox__input" type="checkbox", id="availability_help")
        label(class="checkbox__label" for="availability_help") 
          .checkbox-arrow
          .checkbox__title Помощник для инвалидов
          .checkbox__description На 1 этаже вас встретит специалист и проводит до номера.

    .default
      .checkbox-title
        .font-item__example-value_h3 Checkbox Buttons
      .checkbox.checkbox_default
        input(class="checkbox__input" type="checkbox", id="smoking")
        label(class="checkbox__label" for="smoking")
          .checkbox-arrow
          .checkbox__default Можно курить
      .checkbox.checkbox_default
        input(class="checkbox__input" type="checkbox", id="pets")
        label(class="checkbox__label" for="pets")
          .checkbox-arrow
          .checkbox__default Можно с питомцами
      .checkbox.checkbox_default
        input(class="checkbox__input" type="checkbox", id="guests")
        label(class="checkbox__label" for="guests")
          .checkbox-arrow
          .checkbox__default Можно пригласить гостей (до 10 человек)

    .expandable-checkbox-list
      .checkbox-title
        .checkbox-title__text.font-item__example-value_h3 expandable checkbox list
        .checkbox-title__icon.checkbox-title__icon_expanded.material-icons expand_more
      .checkbox-list
        .checkbox.checkbox_default
          input(class="checkbox__input" type="checkbox", id="breakfast")
          label(class="checkbox__label" for="breakfast")
            .checkbox-arrow
            .checkbox__default Завтрак
        .checkbox.checkbox_default
          input(class="checkbox__input" type="checkbox", id="table")
          label(class="checkbox__label" for="table")
            .checkbox-arrow
            .checkbox__default Письменный стол
        .checkbox.checkbox_default
          input(class="checkbox__input" type="checkbox", id="baby_chair")
          label(class="checkbox__label" for="baby_chair")
            .checkbox-arrow
            .checkbox__default Стул для кормления
        .checkbox.checkbox_default
          input(class="checkbox__input" type="checkbox", id="baby_bed")
          label(class="checkbox__label" for="baby_bed")
            .checkbox-arrow
            .checkbox__default Кроватка
        .checkbox.checkbox_default
          input(class="checkbox__input" type="checkbox", id="tv")
          label(class="checkbox__label" for="tv")
            .checkbox-arrow
            .checkbox__default Телевизор
        .checkbox.checkbox_default
          input(class="checkbox__input" type="checkbox", id="shampoo")
          label(class="checkbox__label" for="shampoo")
            .checkbox-arrow
            .checkbox__default Шампунь
    
    .text-field-default.text-field-default_subscription
      label(for="default" class="text-field-default__label font-item__example-value_h3")
        span.font-item__example-value subscription text field
      .subscription-input
        input(type="email" id="default" placeholder="Email" class="input")
        span.icon.icon_purple.subscription-input__icon.material-icons arrow_forward
    
    .radio
      .radio__title
        .font-item__example-value_h3 Radio Buttons
      .radio-elements
        .radio-item
            input(class="radio__input" name="sex" type="radio" id="male" checked)
            label(class="radio__label" for="male") Мужчина
        .radio-item
            input(class="radio__input" name="sex" type="radio" id="female")
            label(class="radio__label" for="female") Женщина

    .checkbox-toggle
      .checkbox-title
        .font-item__example-value_h3 Toggle
      .checkbox-toggle__item
        input(class="checkbox__input" type="checkbox", id="special_offer")
        label(class="checkbox-toggle__label" for="special_offer") Получать спецпредложения

    .like-buttons
      .review__like.like.like_border-grey
        .review__heart-icon.icon.icon_grey.material-icons favorite_border
        .review__heart-count.review__heart-count_grey 2
      .review__like.like.like_border-gradient
        .review__heart-icon.icon.icon_purple.material-icons favorite
        .review__heart-count 12

    .stars
      .star-part
        .icon_purple-gradient.material-icons star
        .icon_purple-gradient.material-icons star
        .icon_purple-gradient.material-icons star
        .icon_purple-gradient.material-icons star
        .icon_purple-gradient.material-icons star_border
      .star-part
        .icon_purple-gradient.material-icons star
        .icon_purple-gradient.material-icons star
        .icon_purple-gradient.material-icons star
        .icon_purple-gradient.material-icons star
        .icon_purple-gradient.material-icons star