extends ../layout/main


block variables
  - var title = 'UI kit';

block content
  .ui-kit
    h1.font-h1.ui-kit__title Ui Kit
    .ui-kit__links
      a(class="font-h2 ui-kit__link" href="./colors_type.html") Colors &amp; Type
      a(class="font-h2 ui-kit__link" href="./form_elements.html") Form Elements
      a(class="font-h2 ui-kit__link" href="./cards.html") Cards
      a(class="font-h2 ui-kit__link" href="./headers_footers.html") Headers &amp; Footers
