mixin colorItem(title, value, color)
  .color-item
    div(class=`color-item__example color-item__example_${color}`)
    .color-item__text
      .color-item__title=title
      .color-item__value=value